
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins";

}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 20px;
  width: 100%;
  height: 72px;
  background: #ffffff;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

nav a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 600;
}

nav span {
  margin-right: 10px;
}

nav a.active {
  color: #208ba2;
}

.homescreen{
  background: url('./utils/rain.jpg');
  width: 100vw;
  height: calc(100vh - 74px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}
.homescreenLocation{
  background: url('./utils/sunshine.jpg');
  width: 100vw;
  height: calc(100vh - 74px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}

.Modal{
  width:40%;
  height: 60%;
  border: 1px solid teal;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
}
.modal-title{
  color: white;
  font-size: large;
}
.location{
  color:black;
}
.Modal>input{
  width: 90%;
  height: 50px;
  border: 1px solid teal;
  padding: 5px;
  border-radius: 10px;
  font-size: larger;
}
.Modal>.button{
padding: 8px 12px;
font-size: large;
background-color: #208ba2;
color: white;
font-weight: 700;
margin: 10px;
border-radius: 10px;
border: 1px solid #208ba2;
}
.button:hover{
  background-color: white;
  color: #208ba2;
  border: 1px solid #208ba2;
}
.error{
  font-size: larger;
  font-weight: 500;
  color: rgb(183, 0, 0);
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}